.App {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden !important;
  height: 100vh !important;
}

.cmd {
  width: 60%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 10vh;
  display: inline-block;
}
.resume {
  display: inline-block;
  margin-left: 10%;
  vertical-align: -20vh;
  cursor: pointer;
}
.icon {
  color: white;
  font-size: 1em !important;
  font-family: monospace;
  margin-left: -20px;
}

@media (max-width: 800px) {
  .cmd {
    width: 85%;
  }
  .resume {
    margin-left: 30%;
  }
}
